@import "common.less";

@media screen {
  html {

    .mask-load-box {
      background: rgba(50,50,50,.8);
      height: 4rem;
      width: 4rem;
      position: absolute;
      display: none;
      z-index: 9999;
      border-radius: 1rem;
      border: .1rem solid #333;
    }

    body {
      background: #eee;

      .body{
        //position: relative;
        .mask-box {
          width: 100%;
          height: 100%;
          z-index: 200;
          display: none;
          top: 0;
        }
        header {
          height: 9rem;
          margin: 4rem 0 0 0;
          .face-box {
            width: 9rem;
            height: 9rem;
            margin: 0rem auto;
            img {
              width: 9rem;
              height:9rem;
            }
          }
          //　注册页面标题
          &.register-header {
            height: 5rem;
            margin: 0;
            h3 {
              padding-top: 1rem;
              font-size: 2rem;
              height: 4rem;
              line-height: 4rem;
              color: red;
              text-align: center;
            }
          }
        }

        form {
          .form-group {
            span {
              position: absolute;
              color: #aaa;
              &.username-dot, &.password-dot {
                top: 1rem;
                left: 1rem;
              }
              &.phone-dot {
                top: .7rem;
                left: .7rem;
              }
            }
          }
          .input-group {
            input[type="text"] {
              font-size: 1.4rem !important;
            }
          }
        }

        .btn-box {
          width: 90%;
          margin:.5rem auto;
        }
        .link-box {
          width: 90%;
          height: 3rem;
          line-height: 3rem;
          margin: 2rem auto;
          text-align: center;
          div{
            &:first-child {
              text-align: left;
              padding-left: 0;
            }
            &:last-child {
              text-align: right;
              padding-right: 0;
            }
          }
          a {
            font-size: 1.5rem;
            &.link-red {
              color: red
            }
            &.link {
              color: #666;
            }
          }
        }
      }
    }
  }
}
//最小屏幕,小于4寸,适配机型：iphone4,4s,5,5s,se > 小于320px
@media (max-width: 320px) {
  html {
    body {
      .body {
        header {
          height: 6.4rem;
          background: #eee;
          .face-box {
            width: 6.4rem;
            height: 6.4rem;
            margin: 1rem auto;
            img {
              width: 6.4rem;
              height: 6.4rem;
            }
          }
          //　注册页面标题
          &.register-header {
            height: 3rem;
            margin: 0;
            h3 {
              padding-top: .8rem;
              font-size: 2rem;
              height: 2.2rem;
              line-height: 2.2rem;
              color: orange;
              text-align: center;
            }
          }
        }
        form {

        }
        .btn-box {
          div{
            a {
              font-size: 1.4rem;
            }
          }
        }
        .link-box {
          height: 2rem;
          line-height: 2rem;
          margin: 1rem auto;
        }
      }
    }
  }
}

//4.7寸屏幕,适配机型：iphone6,6s,7,8,X > 大于320且小于375px
@media (min-width: 321px) and (max-width: 375px) {
  html {
    body {
      .body {
        header {
        }
        .link-box {
        }
        form {
          div {
            &.input-group {
              input {
                &.form-control {
                  width: 16rem ;
                }
              }
            }
          }
        }
      }
    }
  }
  //Ｃ１青葱手机
  @media (min-width: 321px) and (max-width: 360px) {
    html {
      body {
        .body {
          form {
            div {
              &.input-group {
                input {
                  &.form-control {
                    // width: 19.8rem !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //
  @media (min-width: 361px) and (max-width: 375px) {
    html {
      body {
        .body {
          form {
            div {
              &.input-group {
                input {
                  &.form-control {
                    // width: 17rem !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //iphoneX
  @media (min-height: 668px) {
    html {
      body {
        //background: #cbcccb;
        .body {
          header {
            margin: 7rem 0 0 0;
          }
        }
      }
    }
  }
}

//5.5寸屏幕,适配机型：iphone6+,6s+,7+ > 大于375且小于414px
@media (min-width: 376px) and (max-width: 414px) {
  html {
    body {
      .body {
        header {
          margin: 8rem 0 0 0;
        }
        .link-box {
          div {
            a {
              font-size: 1.6rem;
            }
          }
        }
        form {
          div {
            &.input-group {
              input {
                &.form-control {
                }
              }
            }
          }
        }
      }
    }
  }
  //华为Mate9
  @media (min-width: 376px) and (max-width: 393px) {
    html {
      body {
        .body {
          header {

          }
          form {
            div {
              &.input-group {
                input {
                  //width: 22.8rem !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
