// "out": "../css/search.css", "compress": true
@import "common.less";

@media screen {
  html {
    //公用方法
    .nopadding{
      padding: 0;
    }
    .nomargin{
      margin: 0;
    }
    .nowarp{
      .nopadding;
      .nomargin;
    }
    .ul {
      .nowarp;
      list-style: none;
    }
    .transparent(@height: 1rem) {
      height: @height;
      background: none;
    }

    body {

      .body {
        height: 100%;

        .search-box {
          header {
            height: 5.4rem;
            padding: 1rem 1rem 1rem .5rem;
            background: #eee;
            position: relative;
            .search-bar {
              .row {
                .nowarp;
                div {
                  .nowarp;
                  &.col-xs-1 {
                    //background: green;
                    &.back {
                      font-size: 2.8rem;
                      line-height: 3.4rem;
                    }
                  }
                  &.col-xs-11 {
                    //background: red;
                  }
                }
              }
            }
            //待选搜索词语列表
            .search-word-list {
              display: none;
              position: absolute;
              min-height: 4rem;
              width: 100%;
              top: 5.4rem;
              left:0;
              z-index: 100;
              background: #fafafa;
              .search-word-ul {
                padding: 0 1rem;
                margin: 0;
                li {
                  .nowarp;
                  list-style: none;
                  font-size: 1.4rem;
                  height: 4rem;
                  line-height: 4rem;
                  &.row {
                    .nowarp;
                    div {
                      .nowarp;
                      border-bottom: 1px solid #eee;
                      &.word-title {
                         //background: pink;
                        color: #333;
                      }
                      &.word-icon {
                        //background: gray;
                        color: #999;
                      }
                    }
                  }
                }
              }
            }
            .search-prompt {
              display: none;
              position: absolute;
              background: white;
              width: 100%;
              top: 5.4rem;
              left:0;
              z-index: 10;
                // 热门搜索,最近搜索
                .search-hot,.search-late {
                  padding: 1rem 1rem 0 1rem;
                  .search-title {
                    font-size: 1.4rem;
                    height: 3rem;
                    line-height: 3rem;
                  }
                  .search-del {
                    width: 3rem;
                    height: inherit;
                    background: #ddd;
                    float: right;
                    font-size: 1.8rem;
                    line-height: 3rem;
                    text-align: center;
                  }
                  .search-ul {
                    .nowarp;
                    li {
                      float: left;
                      height: 3rem;
                      line-height: 2rem;
                      list-style: none;
                      padding: .5rem 1rem;
                      border-radius: 1.5rem;
                      background: #f3f3f3;
                      margin: .5rem .7rem .5rem 0 ;
                      a {
                        //height:2rem;
                        .nowarp;
                        line-height: 2rem;
                        height: 2rem;
                        font-size: 1.3rem;
                        color: #333;
                      }
                    }
                  }
                }
              }
            }

            .goods-list {
              //筛选条件工具条
              .goods-bar {
                height: 4.1rem;
                line-height: 4rem;
                border-top: .1rem solid #ddd;
                border-bottom: .1rem solid #ddd;
                &.row {
                  padding: 0;
                  margin: 0;
                  .goods-bar-left {

                  }
                  & > div {
                    height: 3.8rem;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    font-size: 1.4rem;
                    &.icon-browse-mode {
                      font-size: 2rem;
                      border-right: .1rem solid #ddd;
                    }
                    &:last-child {
                      border-left: .1rem solid #ddd;
                    }
                    .row {
                      padding: 0;
                      margin: 0;
                      & > div{
                        padding: 0;
                        margin: 0;
                        height: 2rem;
                        line-height: 2rem;
                        margin: .9rem 0;
                        //background: #f6f6f6;
                        &:first-child {
                          border-right: .1rem solid #ddd;
                          ul.dropdown-menus {
                            display: none;
                            width: 100% !important;
                            //height: 8rem;
                            position: fixed;
                            list-style: none;
                            z-index: 300;
                            .ul;
                            li {
                              height: 4rem;
                              line-height: 4rem;
                              font-size: 1.4rem;
                              border-bottom: 1px solid #eee;
                              background: white;
                              padding-left: 1.2rem;
                              text-align: left;
                              background: #fcfcfc;
                              span.icon-v {
                                font-size: 2rem;
                                color: red;
                                float: right;
                                margin-right: 2rem;
                              }
                            }
                            div.transparent {
                              .transparent(.9rem);
                            }
                          }
                        }

                      }
                    }
                  }
                }
              }
              .goods-ul {
                //background: #f6f6f6;
                padding-bottom: .5rem;
                .goods-ul-type {
                  padding: 0;
                  margin: 0;
                  list-style: none;
                  .mask-box {
                    width: 100%;
                    height: 100%;
                    z-index: 200;
                    display: none;
                  }
                  &.list {
                    & > li {
                      padding: 1rem 1rem;
                      height: 12.7rem;
                      & > div {
                        float: left;
                        //background: #f9f9f9;
                        padding: 0;
                        margin: 0;
                        &.img-box {
                          width: 11.7rem;
                          height: 11.7rem;
                          margin-right: 1rem;
                          background: #f9f9f9;
                          img {

                          }
                        }
                        &.text-box {
                          width: calc(~'100% - 12.7rem');
                          .text-title {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                            height:4rem;
                            line-height: 2rem;
                          }
                          .text-tag {
                            padding: .2rem 0;
                            height: 2rem;
                            list-style: none;
                            li {
                              line-height: 1.4rem;
                              height: 1.4rem;
                              float: left;
                              font-size: 1rem;
                              background: #ddd;
                              padding: .2rem .5rem;
                              margin: 0 .5rem 0 0;
                              border-radius: .5rem;
                            }
                          }
                          .text-tag2 {
                            list-style: none;
                            height: 2rem;
                            padding: .2rem 0;
                            li {
                              height: 1.4rem;
                              line-height: 1.4rem;
                              font-size: 1rem;
                              border:.1rem solid orange;
                              padding: .1rem .5rem;
                              border-radius: .5rem;
                              float: left;
                              margin-right: .5rem;
                              color: orange;
                            }
                          }
                          .text-price {
                            height: 2.2rem;
                            span {
                              color: red;
                              &.price-dot{
                                font-size: 1rem;
                                padding-right: .4rem;
                              }
                              &.price-num {
                                font-size: 1.8rem;
                                line-height: 2rem;
                                padding-right: 1rem;
                              }
                              &.price-word {
                                font-size: 1rem;
                                color: #999;
                              }
                            }
                          }
                          .text-shop {
                            height: 1.5rem;
                            font-size: 1rem;
                            line-height: 1.5rem;
                          }
                        }
                      }
                    }
                  }
                }
                .btn-loading {
                  margin: .8rem .5rem .3rem .5rem;
                  width: calc(~'100% - 1rem');
                }
              }
            }

        }

        .category-warpper {
          .nowarp;
          overflow-y: hidden;
          overflow-x: hidden;
          border-top: .1rem solid #ccc;
          div {
            height: inherit;
            overflow-y: auto;
            overflow-x: hidden;
            &.category-box {
              background: #f9f9f9;
              .nowarp;
              ul {
                .ul;
                li {
                  .nowarp;
                  height: 4.4rem;
                  line-height: 4.4rem;
                  width: 100% !important;
                  text-align: center !important;
                  font-size: 1.4rem;
                  border-bottom: .1rem solid #eee;
                  &.active{
                    border-left: .2rem solid red;
                    background: white;
                    a {
                      color: red;
                    }
                  }
                  a {
                    width: 100% !important;
                    color: #666;
                  }
                }
              }
            }
            &.category-details {
              //overflow-y: auto;
              background: white;
              .nomargin;
              padding: .5rem;
              section {
                //background: red;
                padding:0 .5rem ;
                h4 {
                  height: 2rem;
                  font-size: 1.6rem;
                  line-height: 2rem;
                  text-indent: .5em;
                  font-weight: 100;
                }
                ul {
                  .ul;
                  li {
                    .nowarp;
                    div {
                      .nowarp;
                      &.img-box {
                        img {
                          width:100%;
                        }
                      }
                      &.img-title {
                        font-size: 1.2rem;
                        text-align: center;
                        height: 3.6rem;
                        line-height: 1.8rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//最小屏幕,小于4寸,适配机型：iphone4,4s,5,5s,se > 小于320px
@media (max-width: 320px) {
  html {
    body {
      .body {
        .search-box {
          header {
            //搜索
            .search-bar {

            }
          }
          .goods-list {
            .goods-bar{

            }
            .goods-ul {
               .goods-ul-type {
                 li {

                   div {
                     &.img-box {
                       background: green;
                       width: 12rem !important;
                       img {
                          width: 13rem;
                       }
                     }
                     &.text-box {
                       //background: pink;
                       width: 18rem !important;
                       .text-title {
                          font-size: 1.3rem;
                       }
                       .text-tag {

                       }
                       .text-tag2 {

                       }
                       .text-price {

                       }
                       .text-shop {
                         height: 1.7rem !important;
                         line-height: 1.7rem !important;
                       }
                     }

                   }
                 }
               }
            }
          }

        }
      }
    }
  }
}
