@media screen {
  html {
    font-size: 10px;
  }
  @font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_603996_bm7i07k158iod2t9.eot');
    src: url('//at.alicdn.com/t/font_603996_bm7i07k158iod2t9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_603996_bm7i07k158iod2t9.woff') format('woff'), url('//at.alicdn.com/t/font_603996_bm7i07k158iod2t9.ttf') format('truetype'), url('//at.alicdn.com/t/font_603996_bm7i07k158iod2t9.svg#iconfont') format('svg');
    
    /* project id 603996 */
  }
  html .iconfont {
    font-family: "iconfont" !important;
    font-size: 1.6rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  html .bg-white {
    background-color: #ffffff !important;
  }
  html .mask-box {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  html .mask-load-box {
    background: rgba(50, 50, 50, 0.8);
    height: 4rem;
    width: 4rem;
    position: absolute;
    display: none;
    z-index: 9999;
    border-radius: 1rem;
    border: .1rem solid #333;
  }
  @-webkit-keyframes load2 {
    0% {
      filter: opacity(0.1);
      transform: scale(0.3);
    }
    30% {
      filter: opacity(0.3);
      transform: scale(0.5);
    }
    60% {
      filter: opacity(0.6);
      transform: scale(0.8);
    }
    90% {
      filter: opacity(1);
      transform: scale(1);
    }
    100% {
      filter: opacity(0.6);
      transform: scale(0.8);
    }
  }
  html .loadding-2 {
    align-content: center;
    top: 1.7rem;
    left: 1.7rem;
    position: absolute;
  }
  html .loadding-2 i {
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #999;
    filter: opacity(0.4);
    transform: scale(0.6);
  }
  html .loadding-2 i:nth-child(1) {
    top: -10px;
    left: 0;
    -webkit-animation: load2 0.8s ease-in 0.1s infinite;
  }
  html .loadding-2 i:nth-child(2) {
    top: -7px;
    left: -7px;
    -webkit-animation: load2 0.8s ease-in 0.2s infinite;
  }
  html .loadding-2 i:nth-child(3) {
    top: 0px;
    left: -10px;
    -webkit-animation: load2 0.8s ease-in 0.3s infinite;
  }
  html .loadding-2 i:nth-child(4) {
    top: 7px;
    left: -7px;
    -webkit-animation: load2 0.8s ease-in 0.4s infinite;
  }
  html .loadding-2 i:nth-child(5) {
    top: 10px;
    left: 0px;
    -webkit-animation: load2 0.8s ease-in 0.5s infinite;
  }
  html .loadding-2 i:nth-child(6) {
    top: 7px;
    left: 7px;
    -webkit-animation: load2 0.8s ease-in 0.6s infinite;
  }
  html .loadding-2 i::nth-child(7) {
    top: 0px;
    left: 10px;
    -webkit-animation: load2 0.8s ease-in 0.7s infinite;
  }
  html .loadding-2 i:nth-child(8) {
    top: -7px;
    left: 7px;
    -webkit-animation: load2 0.8s ease-in 0.8s infinite;
  }
  html body {
    background: #eee;
  }
  html body .icon-phone::before {
    content: '\e633';
  }
  html body .icon-back::before {
    content: '\e624';
  }
  html body .body .mask-box {
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
    top: 0;
  }
  html body .body header {
    height: 9rem;
    margin: 4rem 0 0 0;
  }
  html body .body header .face-box {
    width: 9rem;
    height: 9rem;
    margin: 0rem auto;
  }
  html body .body header .face-box img {
    width: 9rem;
    height: 9rem;
  }
  html body .body header.register-header {
    height: 5rem;
    margin: 0;
  }
  html body .body header.register-header h3 {
    padding-top: 1rem;
    font-size: 2rem;
    height: 4rem;
    line-height: 4rem;
    color: red;
    text-align: center;
  }
  html body .body nav.topbar {
    background: #f3f3f3;
    height: 4.4rem !important;
    padding: 1rem 1rem 1rem .5rem !important;
    z-index: 10;
  }
  html body .body nav.topbar.btm-line {
    border-bottom: .1rem solid #eee;
  }
  html body .body nav.topbar .row {
    margin: 0 ;
    height: 2.8rem;
    line-height: 2.6rem !important;
  }
  html body .body nav.topbar .row div {
    padding: 0 ;
  }
  html body .body nav.topbar .row div.col-xs-1 {
    font-size: 2rem !important;
  }
  html body .body nav.topbar .row div.col-xs-10 {
    font-size: 1.6rem !important;
    text-align: center;
  }
  html body .body .has-nav {
    margin-top: 6rem;
  }
  html body .body form {
    width: 90%;
    margin: 1.5rem auto;
    border: .1rem solid #ddd;
    padding: 1.5rem 1.5rem;
    background: white;
  }
  html body .body form h2 {
    font-size: 1.6rem;
    margin: 0 0 1.5rem 0;
  }
  html body .body form .form-group {
    position: relative;
  }
  html body .body form .form-group label {
    font-size: 1.4rem;
    font-weight: 100;
  }
  html body .body form .form-group span.username-dot,
  html body .body form .form-group span.password-dot {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #aaa;
  }
  html body .body form .form-group span.iconfont {
    top: .6rem;
    left: .8rem;
    font-size: 1.8rem;
  }
  html body .body form .form-group .form-control {
    padding-left: 3rem ;
    height: 3.4rem;
    line-height: 3.4rem;
    font-size: 1.4rem;
  }
  html body .body form .input-group {
    height: 3.4rem;
    margin: 1.5rem 0 0rem 0;
    padding: 0 0 0 0;
  }
  html body .body form .input-group input {
    height: 3.4rem;
    font-size: 1.6rem !important;
  }
  html body .body form .input-group span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
  }
  html body .body form .input-group span.input-group-btn img {
    height: 3.4rem !important;
    width: 12rem !important;
    border-radius: 0 .4rem .4rem 0;
  }
  html body .body form .input-group span.input-group-btn button {
    height: 3.4rem;
  }
  html body .body .btn-box {
    width: 90%;
    margin: .5rem auto;
  }
  html body .body .link-box {
    width: 90%;
    height: 3rem;
    line-height: 3rem;
    margin: 2rem auto;
    text-align: center;
  }
  html body .body .link-box div:first-child {
    text-align: left;
    padding-left: 0;
  }
  html body .body .link-box div:last-child {
    text-align: right;
    padding-right: 0;
  }
  html body .body .link-box a {
    font-size: 1.5rem;
  }
  html body .body .link-box a.link-red {
    color: #ff0000;
  }
  html body .body .link-box a.link {
    color: #666;
  }
}
@media (max-width: 320px) {
  html body .body header {
    height: 6.4rem;
    background: #eee;
  }
  html body .body header .face-box {
    width: 6.4rem;
    height: 6.4rem;
    margin: 1rem auto;
  }
  html body .body header .face-box img {
    width: 6.4rem;
    height: 6.4rem;
  }
  html body .body header.register-header {
    height: 3rem;
    margin: 0;
  }
  html body .body header.register-header h3 {
    padding-top: .8rem;
    font-size: 2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    color: orange;
    text-align: center;
  }
  html body .body .btn-box div a {
    font-size: 1.4rem;
  }
  html body .body .link-box {
    height: 2rem;
    line-height: 2rem;
    margin: 1rem auto;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  html body .body form div.input-group input.form-control {
    width: 16rem ;
  }
}
@media (min-width: 321px) and (max-width: 375px) and (min-height: 668px) {
  html body .body header {
    margin: 7rem 0 0 0;
  }
}
@media (min-width: 376px) and (max-width: 414px) {
  html body .body header {
    margin: 8rem 0 0 0;
  }
  html body .body .link-box div a {
    font-size: 1.6rem;
  }
}
